@{
    Layout = "~/Views/Shared/_LayoutWithout.cshtml";
}

     <section id="examples" class="text-center">
          <h2 class=" font-weight-bold parent">О КЛУБЕ</h2>
          <div class="row">
               <div class="col-md-4 col-md-push-12 " style="margin-top:40px">
                    <img src="img/about1.jpg" alt="" class="img-flid" style="width:85%">
               </div>
               <div class="col-md-5 col-md-pull-4 for-settings">
                    <h4>
                         <p class="info"><strong>Standart: </strong> Ryzen 5 / Gtx 1070 /  16Gb RAM / Монитор 24 дюймов 144</p>
                    </h4>
                    <h4>
                         <p class="info"><strong>Pro: </strong>Ryzen 5 / Gtx 1080 / 16Gb RAM / Монитор 27 дюймов 144hz</p>
                    </h4>
                    <h4>
                         <p class="info"><strong>VIP: </strong> Ryzen 7 / Gtx 1080 / 16Gb RAM / Монитор 31 дюймов 144hz</p>
                    </h4>
                    <h4>
                         <p class="info"><strong>Зона Аэрохоккея </strong>, а также зона <strong> PS4</strong>и   <strong> Retro Games</strong>, где можно остыть после тяжелых каток.</p>
                    </h4>
                    <h4>
                         <p class="info"><strong>Зона настольных игр </strong> и мафия — садись с друзьями, играй в настолки и проводи время в уютной обстановке.</p>
                    </h4>
               </div>
          </div>
     </section>
