@{
    Layout = "~/Views/Shared/_LayoutWithout.cshtml";
}

     <section id="examples" class="text-center">
          <h1 class=" font-weight-bold parent">ТАРИФЫ КЛУБА</h1>
          <h4 class="font-weight-bold text-info" style="margin-top:20px">Компьютерный зал</h4>
          <div class="row">
               <div class="img-centr">
                    <img src="img/price.png" alt="" style="width:100%">
               </div>
          </div>
          <h4 class="font-weight-bold text-info" style="margin-top:20px">Развлечения</h4>
          <div class="row">
               <div class="img-centr">
                    <img src="img/price2.jpg" alt="" style="width:100%">
               </div>
          </div>
          <h4 class="font-weight-bold text-info" style="margin-top:40px">Прочие услуги</h4>
          <div class="row">
               <div class="img-centr">
                    <img src="img/price3.jpg" alt="" style="width:100%">
               </div>
          </div>
     </section>
